QToolTip
{
     border: 1px solid black;
     background-color: #525252;
     color: #e4e4e4;
     padding: 1px;
}

QLineEdit
{
    background-color: #202020;
    color: #e4e4e4;
    padding: 1px;
    border: 1px solid #1e1e1e;
}

QAbstractItemView
{
    color: #e4e4e4;
}

QSpinBox
{
    background-color: #202020;
    color: #e4e4e4;
}

QSpinBox:hover
{
    background-color: #5f5f5f;
    color: #e4e4e4;
}

QDoubleSpinBox
{
    background-color: #202020;
    color: #e4e4e4;
}

QDoubleSpinBox:hover
{
    background-color: #5f5f5f;
    color: #e4e4e4;
}

QLabel
{
    color: #e4e4e4;
}



/*** QMenu style ***/

QMenu {
    background-color: white;
    margin: 2px; /* some spacing around the menu */
}

QMenu::item {
    padding: 2px 25px 2px 20px;
    border: 1px solid transparent; /* reserve space for selection border */
}

QMenu::item:selected {
    border-color: darkblue;
    background: rgba(100, 100, 100, 150);
}

QMenu::icon:checked { /* appearance of a 'checked' icon */
    background: gray;
    border: 1px inset gray;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}

QMenu::separator {
    height: 2px;
    background: lightblue;
    margin-left: 10px;
    margin-right: 5px;
}

QMenu::indicator {
    width: 13px;
    height: 13px;
}


QTextBrowser
{
    color: #e4e4e4;
}

QTabWidget::pane {
    border: 1px solid black;
    background: rgb(53, 53, 53);
}

QTabBar::tab {
    border: 1px solid black;
}

QTabBar::tab:selected {
    background: #525252;
}

QTabBar::tab:!selected {
    background: silver;
}

QTabBar::tab:!selected:hover {
    background: #999;
}

QTabBar::tab:top:!selected {
    margin-top: 3px;
}

QTabBar::tab:bottom:!selected {
    margin-bottom: 3px;
}

QTabBar::tab:top, QTabBar::tab:bottom {
    min-width: 8ex;
    margin-right: -1px;
    padding: 5px 10px 5px 10px;
}

QTabBar::tab:top:selected {
    border-bottom-color: none;
}

QTabBar::tab:bottom:selected {
    border-top-color: none;
}

QTabBar::tab:top:last, QTabBar::tab:bottom:last,
QTabBar::tab:top:only-one, QTabBar::tab:bottom:only-one {
    margin-right: 0;
}

QTabBar::tab:left:!selected {
    margin-right: 3px;
}

QTabBar::tab:right:!selected {
    margin-left: 3px;
}

QTabBar::tab:left, QTabBar::tab:right {
    min-height: 8ex;
    margin-bottom: -1px;
    padding: 10px 5px 10px 5px;
}

QTabBar::tab:left:selected {
    border-left-color: none;
}

QTabBar::tab:right:selected {
    border-right-color: none;
}

QTabBar::tab:left:last, QTabBar::tab:right:last,
QTabBar::tab:left:only-one, QTabBar::tab:right:only-one {
    margin-bottom: 0;
}

/*** Rubber band color ***/
QWidget
{
    selection-background-color: rgba(150, 150, 150, 128);
}

QPlainTextEdit
{
    color: #ffff00; background-color: #242424;
    selection-background-color: #3b3b3b;
    selection-color: #ffffff;
}

QPushButton {
    background-color: rgb(94, 94, 94);
    border-style: outset;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(112, 112, 112);
    padding: 3px;
}
QPushButton:pressed {
    background-color: rgb(146, 146, 146);
    border-style: inset;
}