QWidget{
    color: #e4e4e4;
    background-color: rgb(53, 53, 53);
}

*::item::selected{
    background: rgba(215, 128, 26,255);
}
*::item::hover{
    background: rgba(215, 128, 26,128);
}
*::item::alternate{
    background-color : rgb(53, 53, 53);
}


QToolTip
{
     border: 1px solid black;
     background-color: #525252;
     color: #e4e4e4;
     padding: 1px;
}

QLineEdit
{
    padding: 1px;
    border: 1px solid #1e1e1e;
}

QLineEdit,QSpinBox,QDoubleSpinBox,QPlainTextEdit
{
    background-color: #202020;
}

QSpinBox::hover,QDoubleSpinBox::hover::hover
{
    background-color: #5f5f5f;
}



/*** QMenu style ***/

QMenu {
    background-color: rgb(80, 80, 80);
    margin: 2px; /* some spacing around the menu */
}

QMenu::item {
    padding: 2px 25px 2px 20px;
    border: 1px solid transparent; /* reserve space for selection border */
}

QMenu::icon:checked { /* appearance of a 'checked' icon */
    background: gray;
    border: 1px inset gray;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}

QMenu::separator {
    height: 2px;
    background: lightblue;
    margin-left: 10px;
    margin-right: 5px;
}

QMenu::indicator {
    width: 13px;
    height: 13px;
}


QTabWidget::pane,QTabBar::tab {
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-style: none;
}

QTabBar::tab:selected {
    background: #525252;
}

QTabBar::tab:!selected {
    background: rgb(53, 53, 53);
}

QTabBar::tab:!selected:hover {
    background: rgba(215, 128, 26,128);
}

QTabBar::tab:top:!selected {
    margin-top: 5px;
}

QTabBar::tab:bottom:!selected {
    margin-bottom: 3px;
}

QTabBar::tab:top, QTabBar::tab:bottom {
    min-width: 8ex;
    margin-right: -1px;
    padding: 2px 2px 2px 2px;
}

QTabBar::tab:top:last, QTabBar::tab:bottom:last,
QTabBar::tab:top:only-one, QTabBar::tab:bottom:only-one {
    margin-right: 0;
}

QTabBar::tab:left:!selected {
    margin-right: 3px;
}

QTabBar::tab:right:!selected {
    margin-left: 3px;
}

QTabBar::tab:left, QTabBar::tab:right {
    min-height: 8ex;
    margin-bottom: -1px;
    padding: 5px 5px 5px 5px;
}


/*** Rubber band color ***/
QWidget
{
    selection-background-color: rgb(215, 128, 26,128);
}

QToolBar {
    border-width: 0px;
}

QPlainTextEdit
{
    selection-background-color: #3b3b3b;
    selection-color: #ffffff;
}

QPushButton,QComboBox {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 rgb(80,80,80),stop: 0.6 rgb(60,60,60),stop: 1.0 rgb(50, 50, 50));
    border-style: outset;
    border-width: 1px;
    border-radius: 1px;
    border-color: rgb(10, 10, 10);

}
QPushButton{
    padding: 3px;
}
QPushButton::pressed{
    background-color: rgb(146, 146, 146);
    border-style: inset;
}

QDockWidget::close-button, QDockWidget::float-button {
    border: 1px solid transparent;
    background: transparent;
    padding: 0px;
}
QDockWidget::close-button:hover, QDockWidget::float-button:hover {
    background: rgba(215, 128, 26,128);
}

QScrollBar:vertical,QScrollBar:horizontal {
     border: 1px solid black;
     background: rgb(146, 146, 146);
     width: 15px;
     height: 15px;
     margin: 0px 0 0px 0;
}
QScrollBar::handle:vertical,QScrollBar::handle:horizontal {
    background: rgb(80, 80, 80);
    border: 0px solid black;
}
QScrollBar::add-line:vertical, QScrollBar::add-line:horizontal,
QScrollBar::sub-line:vertical,QScrollBar::sub-line:horizontal {
     border: 1px solid black;
     height: 0px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical,
QScrollBar::sub-line:vertical,QScrollBar::add-line:vertical,
QScrollBar::sub-line:horizontal,QScrollBar::add-line:horizontal {
     background: rgb(50,50,50);
}

QComboBox{
    padding: 2px;
}
QComboBox::drop-down {
    background-color: rgba(0,0,0,100);    
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border-left-width: 0px;
    border-top-right-radius: 1px; /* same radius as the QComboBox */
    border-bottom-right-radius: 1px;
}
QComboBox::down-arrow {
     image:  url(":/doubleArrow.png");
}

